body {
    background-color: #215a6d;
	color: #333;
	font: small/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
	
	font-size: 13px;
}

a {
	color: #5f8222;
	font-weight: bold;
	text-decoration: none;
}

.amp {
	font-family: "Baskerville", "Palatino", "Georgia", serif;
	font-style: italic;
	font-size: 120%;
	opacity: 0.7;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 10px;
}

h2 {
	font-size: 2.2em;
}

h3 {
	font-size: 1.4em;
}

/* Keeps everything a set width */
.wrap {
	width: 800px;
	margin: 0 auto;
	text-align:left;
}

p {
	margin-bottom: 1.54em;
}

#topbar {
	float: left;
	width: 100%;
	border-bottom: solid 4px #0f2f3c;
	background: #113543 url(../image/header_bg.png) repeat-x left top;
}


#header {
	border-bottom: 4px solid #134c5f;
	text-align: left;
	padding: 10px 0;
	clear: both;
	width: 100%;
	float: left;
	background: url(../image/promo-bg.png) repeat-x left top;
	color: #fff;
}

#header-left {
    float: left;
}

#header-right {
    float: left;
    margin-left: 40px;
}

#header-slogan h1{
    float: right;
    color: white;
	font-family: "Baskerville", "Palatino", "Georgia", serif;
	font-style: italic;
	font-weight: normal;
	font-size: 1.6em;
	margin-right:10px;
	margin-top: 15px;
	padding: 5px;
	text-shadow: 0px -1px 1px rgba(0,0,0,0.1);
	text-align:left;
    }

#header-right address
{
	color: white;
	font-family: "Baskerville", "Palatino", "Georgia", serif;
	font-style: italic;
	font-weight: normal;
	font-size: 0.9em;
	padding-right:10px;
	text-shadow: 0px -1px 1px rgba(0,0,0,0.1);
	text-align:left;
}


#navbar {
	background-color: #709d21;
	padding: 5px 0;
	clear: left;
	color: #fff;
	text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
}


#navbar li
{
    display: inline;
   
}

#navbar ul {
    text-align: justify;
    
}

#navbar a {
	color: #fff;
	padding: 2px 6px 2px 6px;
	display: inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    text-align: justify;
    margin-right: 22px;
}

#navbar a:hover {
	text-decoration: none;
	background-color: rgba(0,0,0,0.2);
}

#navbar .wrap {
}

#main {
	border-top: solid 3px #baad8b;
	color: rgb(0,0,0);
	color: rgba(0,0,0,0.6);
	width: 100%;
	float: left;
	background: #ebe3cd url(../image/main-bg.png) repeat-x left top;
	padding: 23px 0;
}

#home #main h3 {
	margin-bottom: 1em;
}

#main h3 {
	color: rgba(0,0,0,0.7);
	font-weight: normal;
}

#leftcolumn {
	width: 33%;
	float: left;
	margin: 0 20px 0 0;
	position: relative;
}

#rightcolumn {
	
	float: left;
	margin-left:  5%
	width:100%;
}

#rightcolumn img {
    float: right;
    border-right: solid 3px #baad8b;
    border-bottom: solid 3px #baad8b;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}


#lower {
	background-color: #b3a791;
	border-top: solid 3px #a89b84;
	width: 100%;
	float: left;
	padding: 20px 0 20px 0 ;
	color: rgba(0,0,0,0.6);
}

#lower .section {
	padding: 1em;
	background: #f5ecdc;
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	height: 10em;
}


#lower h3 a {
	color: rgba(0,0,0,0.5) !important;
	display: block !important;
	float: none !important;
}

#lower h3 a:hover {
	text-decoration: underline;
}

#lower a {
	color: #5f8222;
}

#lower #book-appointment
{
    margin-right: 40px;
}

#lower #contact-us
{
    margin-right: 40px;
}

#lower .wrap > div {
    width: 30%;
	margin: 0 0 0 0px;
	float: left;
}


#footer {
	border-top: solid 8px #183f4d;
	background-color: #1d4a59;
	width: 100%;
	float: left;
	padding: 1em 0;
	font-size: .9em;
	color: #fff;
}


#footer p {
	text-align: center;
}

/*============================*/
/*=== Custom Slider Styles ===*/
/*============================*/
#slider-wrapper {
    background:url(images/slider.png) no-repeat;
    width:998px;
    height:392px;
    margin:0 auto;
    padding-top:74px;
    margin-top:50px;
}

#slider {
	position:relative;
    width:618px;
    height:246px;
    margin-left:190px;
	background:url(images/loading.gif) no-repeat 50% 50%;
}
#slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
#slider a {
	border:0;
	display:block;
}

.nivo-controlNav {
	position:absolute;
	left:260px;
	bottom:-42px;
}
.nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(images/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.nivo-controlNav a.active {
	background-position:0 -22px;
}

.nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(images/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
a.nivo-prevNav {
	left:15px;
}

.nivo-caption {
    text-shadow:none;
    font-family: Helvetica, Arial, sans-serif;
}
.nivo-caption a { 
    color:#efe9d1;
    text-decoration:underline;
}

