{% extends "base.html" %}

{% block main %}

<div class="wrap">
				<div id="leftcolumn">
					<h2>About Us</h2>

<p>We are a Practice who passionately believe in delivering a great service to every one of our patients.</p>
<p>We are proud to welcome Patients of all ranges from Tots through to Seniors.</p>
<p>We believe that everyone one of us should be benefitting from the advancements in Optical technology .</p>
<p>These Technologies are available in all types of Spectacle lenses, Contact lenses and Eye Examination procedures.</p>
<p>Please feel free to ask us about how modern optical technology can benefit you and your eyes.</p>
				</div>
				<div id="rightcolumn">
                        <img width="513" height="300" src="image/interior_1.jpg" alt="mpod"/>
			    </div>
</div>

{% endblock %}
