<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
				"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Henning &amp Henning</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" href="./style/reset.css" type="text/css" />  
		<link rel="stylesheet" type="text/css" href="style/main.css"/>
		<script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-22628919-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
		<!-- Usually in the <head> section -->
    <link rel="stylesheet" href="style/nivo-slider.css" type="text/css" media="screen" />

	</head>
	
	<body id="home">
		<div id="topbar">
			
		</div>
		<div id="header">
			<div class="wrap">
			    <div id="header-left">
			        <a href="/"><img src="/image/henning_logo_small.png" height="70"/></a>
			    </div>
			    <div id="header-right">
			     <address>
				    14 Church Street
				    <br/>
				    Weybridge
				    <br/>
				    KT13 8DX
				    <br/>
				    tel: 01932 829 868
				    <br/>
				    email: <href="mailto:info@henningopticians.com">info@henningopticians.com</a>
			    </address>
				</div>	
				<div id="header-slogan">
				    <p>An independant opticians and contact lens centre in the heart of Weybridge</p>
				</div>
			</div>
		</div><!--end #promo-->
		<div id="navbar">
		    <div class="wrap">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/location">How to find us</a></li>
					<li><a href="/eye_test">Eye tests</a></li>
					<li><a href="/contact_lens">Contact lenses</a></li>
					<li><a href="/glasses">Glasses</a></li>
					<li><a href="/specialist_equiptment">Specialist Equiptment</a></li>
					<li><a href="/window_displays">Window displays</a></li>
					<li><a href="/about_us">About us</a></li>
				</ul>
		    </div>
		</div>
		<div id="main">
			{% block main %}
    	    {% endblock %}  
		</div><!--end #main-->
		<div id="lower">
			<div class="wrap">
				<div id="book-appointment">
					<h3><a href="/">Book an Appointment</a></h3>
					<div class="section">
					    <img src="/image/book_appointment.jpg"/>
					    <p>You can book an appointment by calling 
					    <i>01932 829 868</i> or email <a href="mailto:info@henningopticians.com">info@henningopticians.com</a>
					     for more information </p>
					</div>
				</div>
				<div id="contact-us">
					<h3><a href="/location">Find us</a></h3>
					<div class="section">
					    <img src="/image/contact_us.jpg"/>
					    <address>
					        14 Church Street
					        <br />
					        Weybridge 
					        <br />
					        KT13 8DX 
					    </address>
					    <p>
					        tel: 01932 829 868
				        </p>
					</div>
				</div>
				<div id="opening-times">
					<h3><a href="/">Opening times</a></h3>
					<div class="section">
					    <img src="/image/opening_times.jpg"/>
					    <ul>
					        <li><b>Monday - Saturday:</b> 9am - 5.30pm</li>
					        <li><b>Sundays:</b> closed</li>
				        </ul>
					</div>
				</div>
			</div>
		</div><!--end #lower-->
		<div id="footer">
			<div class="wrap">
				<p>© Henning &amp; Henning Opticians. All Rights Reserved.</p>
			</div>
		</div>
	</body>
</html>
