{% extends "base.html" %}

{% block main %}

<div class="wrap">
				<div style="float:left;">
				
				<div style="float:right; margin-left:6px;">
                        <img width="513" height="300" src="image/contact_lens_blue.jpg" alt="contact_lens"/>
			    </div>
					<h2>Contact Lenses</h2>
<p>
We are very proud of our ability to offer contact lenses for a wide variety of standard and non-standard prescriptions and fittings.
As an Independent Practice we are free to utilise an immense portfolio of contact lenses from a variety of leading Manufacturers.</p>

<p>Our extensive clinical range allows us to offer everything from the increasingly popular one -day disposable contact lens to  2-weekly, and monthly lenses through to multi-focal contact lenses . Multifocal lenses are also available with astigmatism correction.
More traditional modalities like Hard Gas Permeable lenses are also regularly dispensed.</p>

<p>We are delighted to also be able to offer i-Go Overnight Vision Correction lenses. These lenses are a non-surgical treatment which correct shortsightedness (myopia). Custom designed overnight contact lenses are worn while sleeping and then removed each morning resulting in perfect natural vision all day long.</p>

<p>Through advancements in contact lens technology, contact lenses are available for all ages.</p>

<p>We are always happy to discuss contact lenses with you whether or not you are an existing wearer, a previous wearer or simply someone who has never thought that contact lenses might be an option for you.</p>

<p>Please ask us to tell you all about our Platinum and Gold  Direct Debit schemes .</p>
				</p>
				</div>
</div>

{% endblock %}
