{% extends "base.html" %}

{% block main %}

<div class="wrap">
				<div id="leftcolumn">
					<h2>Eye tests</h2>

                    <p>Do you have...</p>
                    <p>
                    <ul style="list-style:circle; margin-left: 16px;">
                        <li>trouble reading the newspaper?</li>
                        <li>regular headaches?</li>
                        <li>a family history of glaucoma?</li>
                    </ul>
                    </p>
                    <p>Having your eyes tested is an important part of staying healthy. It is recommended that you have
                     your eyes tested at least once every two years.</p>

                    <p>Our comprehensive routine eye examination covers many aspects. These include, assessing binocular vision
                    and ocular muscle balance, colour vision, depth perception, health of the eyes and the level of vision with 
                    and without correction.</p>
                    <p>Where indicated there are additional tests to measure the intra-ocular pressure and screen the visual 
                    fields.</p>
					 
				</div>
				<div id="rightcolumn">
                        <img width="513" height="300" src="image/blue_screen.jpg" alt="eye test board"/>
			    </div>
</div>

{% endblock %}
