{% extends "base.html" %}

{% block main %}

<div class="wrap">
    <div class="col-1">
        <img src="/image/logos/adidas.jpg" width="200px"/>
        <p>Adidas</p>
    </div>
    <div class="col-2">
        <img src="/image/logos/silhouette.jpg" width="200px"/>
        <p>Silhouette</p>
    </div>
    <div class="col-3">
        <img src="/image/logos/nike.jpg" width="200px"/>
        <p>Nike</p>
    </div>
    <div class="col-1">
        <img src="/image/logos/flexon.jpg" width="200px"/>
        <p>Flexon</p>
    </div>
    <div class="col-2">
        <img src="/image/logos/guess.jpg" width="200px"/>
        <p>Guess</p>
    </div>
    <div class="col-3">
        <img src="/image/logos/ck.jpg" width="200px"/>
        <p>CK</p>
    </div>
    <div class="col-1">
        <img src="/image/logos/calvin-klein.jpg" width="200px"/>
        <p>Calvin Klein</p>
    </div>
    <div class="col-2">
        <img src="/image/logos/giorgio-armani.jpg" width="200px"/>
        <p>Giorgio Armani</p>
    </div>
    <div class="col-3">
        <img src="/image/logos/porsche.jpg" width="200px"/>
        <p>Porsche</p>
    </div>
    <div class="col-1">
        <img src="/image/logos/gucci.jpg" width="200px"/>
        <p>Gucci</p>
    </div>
    <div class="col-2">
        <img src="/image/logos/fendi.jpg" width="200px"/>
        <p>Fendi</p>
    </div>
    <div class="col-3">
        <img src="/image/logos/roberto-cavalli.jpg" width="200px"/>
        <p>Roberto Cavalli</p>
    </div>
    <div class="col-1">
        <img src="/image/logos/tom-davies.jpg" width="200px"/>
        <p>Tom Davies</p>
    </div>
    <div class="col-2">
        <img src="/image/logos/bywp.jpg" width="200px"/>
        <p>ByWp</p>
    </div>
    <div class="col-3">
        <img src="/image/logos/wolf.jpg" width="200px"/>
        <p>Wolf</p>
    </div>
    <div class="col-1">
        <img src="/image/logos/william-morris.jpg" width="200px"/>
        <p>William Morris</p>
    </div>
    <div class="col-2">
        <img src="/image/logos/manish-arora.jpg" width="200px"/>
        <p>Manish Arora</p>
    </div>
    <div class="col-3">
        <img src="/image/logos/lupo.jpg" width="200px"/>
        <p>Lupo</p>
    </div>
    <div class="col-1">
        <img src="/image/logos/maui-jim.jpg" width="200px"/>
        <p>Maui Jim</p>
    </div>
    <div class="col-2">
        <p>Dirty Dog</p>
        <img src="/image/logos/dirty-dog.jpg" width="200px"/>
    </div>
    <div class="col-1">
        <p>Wimbledon</p>
    </div>
    <div class="col-2">
        <p>Guess by Marchino</p>
    </div>
    <div class="col-3">
        <p>Dianne Von Furstenburg</p>
    </div>
</div>

{% endblock %}
