{% extends "base.html" %}

{% block main %}

<div class="wrap">
                    
                    
			    
                <div style="float:left;">
				<div style="float:right; margin-left: 6px;" >
                        <div id="slider" class="nivoSlider">
                            <img src="image/slide_1.jpg" alt="" title="#htmlcaption1"/>
                            <img src="image/slide_2.jpg" alt="" title="#htmlcaption2"/>
                            <img src="image/slide_3.jpg" alt="" title="#htmlcaption3" />
                        </div>
                        <div id="htmlcaption1" class="nivo-html-caption">
                            <strong>Located in Weybridge town centre</strong> a proudly independent practise.
                        </div>
                        <div id="htmlcaption2" class="nivo-html-caption">
                            <strong>A family business</strong> we offer eye tests for all ages: kids, adults, seniors.
                        </div>
                        <div id="htmlcaption3" class="nivo-html-caption">
                            <strong>At the cutting edge</strong> our service includes the use of the latest technologies in optometry.
                        </div>
                    <script type="text/javascript" src="script/jquery.js"></script>
                    <script type="text/javascript" src="script/jquery.nivo.slider.pack.js"></script>
                    <script type="text/javascript">
                        $(window).load(function() {
                            $('#slider').nivoSlider();
                        });
                    </script>
			    </div>
					<h2>﻿Welcome to Henning & Henning Opticians</h2>
			    <p>We are an Independant Opticians located in the centre of Weybridge since 1992. As Optometrists 
                    with over 25 years of experience we are delighted to be able to share our passion about vision
                    with you all.</p>
                    <p>Ensuring that our Patients are given the best service possible is our priority. Here at Henning
                    & Henning we offer a friendly, personal service to all.</p>
                    <p>Our screening using state-of-the-art Optical equipment such as the OCT and MPOD, is another 
                    area that we believe can benefit our Patients. The advancement of  technology has allowed extensive
                    progress in all areas of Eyecare. These advancements range from Spectacle frames , lenses and coatings 
                    through to contact lenses and dry eye management.</p>
                    <p>Our extensive range of Spectacle frames encompasses collections that are Fashion Forward,
                    Ultra Lightweight, Petite, Rimless.Traditional , Bespoke and Designer.</p>
                    <p>We offer eye tests, contact lens consultation and specialist services for persons of all ages.</p>
                </div>
</div>

{% endblock %}
