{% extends "base.html" %}

{% block main %}

<div class="wrap">
				<div id="leftcolumn">
					<h3>How to find us</h3>
					<p>We are located on Church Street, in Weybridge town center.</p>
					<p>The nearest parking is Churchfields car park, behind the library.</p>
					<p>We offer access for the disabled</p>
					<h3>Address</h3>
    				<address>
					        14 Church Street
					        <br />
					        Weybridge 
					        <br />
					        KT13 8DX 
					    </address>
					    <p>
					        tel: 01932 829 868
				        </p>
				</div>
				<div id="rightcolumn">
                        <iframe width="513" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=henning+and+henning+opticians&amp;aq=&amp;sll=53.800651,-4.064941&amp;sspn=14.745606,39.506836&amp;ie=UTF8&amp;hq=henning+and+henning+opticians&amp;hnear=&amp;t=h&amp;ll=51.372423,-0.459709&amp;spn=0.064296,0.175781&amp;z=12&amp;iwloc=A&amp;output=embed">
                        </iframe>
			    </div>
</div>

{% endblock %}
