{% extends "base.html" %}

{% block main %}

<div class="wrap">
				<div id="leftcolumn">
					<h3>Our Practise</h3>
    				<p>
    				    Complete with the latest in optometric technology. We have a machine that does X and another one that does Y.
    				 
    				</p>
    				<p>
    				    Our staff are fully trained at using the equiptment.
    				</p>
				</div>
				<div id="rightcolumn">
                        					<object width="300" height="250"><param name="movie" value="http://www.youtube.com/v/mUCtXW3GFRA&amp;hl=en_GB&amp;fs=1?rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/mUCtXW3GFRA&amp;hl=en_GB&amp;fs=1?rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="512" height="300"></embed></object>			
			    </div>
</div>

{% endblock %}
