{% extends "base.html" %}

{% block main %}

<div class="wrap">
				<div style="float:left;">
				
				<div style="float:right; margin-left:6px;">
                        <img width="513" height="300" src="image/mpod.jpg" alt="mpod"/>
			    </div>
					<h2>Specialist equipment</h2>

<p>We believe in investing in the latest technologies to ensure that our patients get the benefit of the most advanced screening procedures available.</p>
<h3>OCT</h3>

<p>By using this state-of-the-art 3D Ocular Coherence Tomography (OCT) camera, our Optometrists will be able to take both a digital photograph and a three dimensional cross sectional scan of the back of your eye in one sitting. 
This method is an extremely advanced health check for people of all ages.</p>
<p>Very similar to Ultrasound, OCT uses light rather than sound waves to illustrate the different layers that make up the back of your eye. We also capture a digital photograph of the surface of your eye to cross reference areas of concern.
There is an additional charge for our OCT scan, but the benefits are clear.</p>
<p>Enjoy the peace of mind that comes from knowing that your eyes are in great condition.</p>
<h3>MPOD</h3>

<p>This is a quick and simple eye test to evaluate the level of macular pigment in the eye. 
Low  macular pigment has been linked to Age Related Macular Degeneration (ARMD).
The method used to measure the density of the macular pigment in the eye is a scientifically proven technique called heterochromatic flicker photometry.</p>
<p>The MPOD is a non invasive test where you simply look into the unit and press a response button.</p>
<p>The flicker rate used in the test is not dangerous to epileptics.</p>
<p>Age-related macular degeneration ( ARMD) is the most common cause of vision loss in people over 50. It is caused by the degeneration of the macula, the central and most sensitive part of the retina at the back of the eye.
Macular pigment acts as an antioxidant and protects  the retina from the potentially damaging effects of blue light. If the density of the pigment is reduced then the retina is vulnerable and more likely to deteriorate. Early detection of reduced density and subsequent changes to diet or supplements may improve the ability of the retina to resist long-term degenerative changes.
There is an additional charge for our MPOD test, but the benefits of reducing the risk to your vision are very significant.</p>

<h3>Corneal Topographer</h3>
				</div>
</div>

{% endblock %}
